@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  box-sizing: border-box;
}
:root {
  --body-font-size: 1rem;
  --section-header-font-size: 2.5rem;
  --section-title-font-size: 1.8rem;
  --section-tagline-font-size: 2rem;
}
body {
  margin: 0;
  padding: 0rem 0;
  font-family: 'Poppins', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: var(--body-font-size);
  display: flex;
  flex-direction: column;
  color: #2a2a2a;
  size: A4;
  width: 210mm; /* A4 width */
  /* height: 297mm; */
  background-color: white;
  justify-content: center;
}
h2,
h1,
h3,
h4,
h5 {
  margin: 0;
}
h5 {
  font-weight: 500;
  font-size: var(--body-font-size);
}
header {
  margin: 1rem;
}
.header {
  display: flex;
}
.img {
  padding-left: 2rem;
}
.img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile {
  text-align: center;
  margin: auto;
  padding-right: 5rem;
}
h1.name {
  font-size: 2.5rem;
  margin: 0;
}
h2.profession {
  margin: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #645359;
  font-weight: 500;
}
.profile-nav {
  display: flex;
  list-style: none;
  float: left;
}
.profile-nav li {
  margin-left: 0.4rem;
}
a {
  color: #7455ee;
}
a:visited {
  color: #7455ee;
}
main {
  margin: 0rem 2rem;
}
section {
  padding: 0.5rem 0;
}
section.hero {
  padding: 0 1rem;
}
section.hero p {
  font-style: italic;
  text-align: center;
}
.section-header {
  text-align: left;
  font-size: var(--section-title-font-size);
  font-weight: 500;
}
section.skills ul {
  display: flex;
  justify-content: flex-start;
  margin: none;
}
ul {
  padding: 0;
}
.skill-list li {
  margin-right: 1rem;
  list-style: none;
  padding: 0.2rem 0.6rem;
  color: white;
  background-color: #645359;
  border-radius: 5px;
}
.tag-header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.section-title {
  font-weight: 600;
}
.section-miniTitle {
  font-weight: 500;
  font-style: italic;
}
.right-tag {
  text-align: right;
}
.experiences {
  margin: 0.5rem 0;
}
.experiences li {
  padding: 0;
}
.second {
  padding-top: 0.5rem;
}
span {
  font-weight: 600;
  font-style: italic;
}
.helpbot {
  margin: 0;
}
